<div class="page">

  <div class="headers">
    <h1 class="mb-5 mt-5">Student Result</h1>
  </div>
  
  
  
  <div class="table-responsive">
    <table class="table table-bordered fs-5 text-center">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Department</th>
          <th scope="col">Subdepartment</th>
          <th scope="col" rowspan="10">Grade</th>
          <th scope="col">Subject</th>
          <th scope="col">Total</th>
          <th scope="col">Type</th>
          <th scope="col">Next Level</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" rowspan="3" valign="middle">Menna</th>
          <td rowspan="3" valign="middle"></td>
          <td rowspan="3" valign="middle"></td>
          <td>Subject Name</td>
          <td></td>
          <td></td>
          <td rowspan="3" valign="middle"></td>
          <td rowspan="3" valign="middle"></td>
        </tr>
        <tr>
          <td>GPA</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Points</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  </div>