<!-- views/allCourses.ejs -->
<style>
    /* Custom CSS styles for the table */
    .btn-edit {
        padding: 0.25rem 0.5rem;

    }
</style>

<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" dir="rtl">
    <h1 class="h2">تقديرات الطلاب</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
</div>

<div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">لوحة التحكم</a></li>
                    <li class="breadcrumb-item active">تقديرات الطلاب</li>
                </ol>
            </nav>
        </div>
        <div class="col text-end fw-lighter">
            <!-- Display any relevant content here, if needed -->
        </div>
    </div>
</div>

<div class="table-responsive" dir="rtl">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>م</th>
                <th>الأسم</th>
                <th>درجات المقرر</th>
                <th>مادة 1</th>
                <th>مادة 2</th>
                <th>مادة 3</th>
                <th>مادة 4</th>
                <th>مجموع النقاط</th>
                <th>متوسط مجموع النقاط التراكمي</th>
                <th>المرحلة الدراسة القادمة</th>
            </tr>
        </thead>
        <tbody>
            <% courses.forEach(course => { %>
            <tr>
                <th rowspan="3">241001</th>
                <td rowspan="3">أبانوب امير يوسف</td>
                <td>أسم المقرر</td>
                <td>نطريات الذكاء الأصطناعي</td>
                <td>الطرق الحسابية المتقدمة</td>
                <td>الكتابة العلمية</td>
                <td>أمن المعلومات</td>
                <td></td>
                <td></td>
                <td rowspan="3">(M. Sc)</td>
                    <tr>
                        <td>تقدير</td>
                        <td>A</td>
                        <td>B</td>
                        <td>B</td>
                        <td>A</td>
                        <td></td>
                        <td>B+</td>
                    </tr>
                    <tr>
                        <td>نقاط</td>
                        <td>3.7</td>
                        <td>2.6</td>
                        <td>2.8</td>
                        <td>4</td>
                        <td>39</td>
                        <td>3.3</td>
                    </tr>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
